.container {
  background-color: lightgray;
  border: 1px solid black;
  width: 970px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.text,
.secondText {
  font-size: 32px;
  color: black;
}

.secondText {
  margin-top: 0.5em;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 80vw;
    height: 20vh;
  }

  .text,
  .secondText {
    font-size: 18px;
  }
}
