.cardWrapper {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: #ffffff;
}

.profileImage {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  z-index: 1;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5em;
  overflow: hidden;
}

.content {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  font-size: 14px;
  font-weight: bold;
}
.subtitle {
  font-size: 12px;
  color: gray;
}
