.editorSection {
  display: flex;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editorCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
